html{
    background: darkgray;
}

h1{text-align: center;
    font-family: cursive ;
}
p{font-family: cursive;
  font-size: medium;
}
img{
  width: 200px;
  height: 150px;
  float: right;
}