html{
    background: darkgray;
}

h1{text-align: center;
    font-family: cursive ;
}
p{font-family: cursive;
  font-size: medium;
}
img{
  width: auto;
  height:auto;
  float: right;
}